.container{
  margin: 0 auto;
}

body {
  background-image: url("../photos/background01.jpeg");
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 75px;
  font-stretch: extra-expanded;
  color: red;
  text-align: center;
  font-family: monospace;
}

h3 {
  font-size: 25px;
  font-stretch: eßxpanded;
  color: black;
  text-align: center;
  font-family: monospace;
}

hr {
  border-top: 1px solid red;
}

.pizza-order {
  background-color: white;
  opacity: 0.9;
  width: 85%;
  padding: 25px 50px 50px 50px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#Order {
  display: none;
}

#address {
  display: none;
}

#deliver {
  display: none;
}

#picking-up {
  display: none;
}
